/* GLOBAL */
.wallpaper {
    -fx-background-color: #E0FBFC;
}

.grid {
    -fx-border-color: #111344;
    -fx-border-width: 5;
    -fx-border-radius: 15;
    -fx-background-color: #17255A;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);;
    -fx-padding: 3;
}

.piece {
    -fx-arc-width: 30;
    -fx-arc-height: 30;
    -fx-fill: #FFDE68;
    -fx-stroke: #FFD67D;
    -fx-stroke-width: 5;
    -fx-stroke-type: inside;
}

.main_piece {
    -fx-arc-width: 30;
    -fx-arc-height: 30;
    -fx-fill: #C3423F;
    -fx-stroke: #FD151B;
    -fx-stroke-width: 5;
    -fx-stroke-type: inside;
}

/* MENU VIEW */

#main_title {
    -fx-fill: black;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

#play_btn, #load_btn {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-translate-x: 7;
    -fx-translate-y: 7;
    -fx-cursor: hand;
}

#play_btn {
    -fx-font-size: 45;
}

#play_btn:hover {
    -fx-text-fill: white;
}

#load_btn {
    -fx-font-size: 26;
}

#load_btn:hover {
    -fx-text-fill: #FD151B;
}

/* PUZZLE SELECTION VIEW */

.config_btn {
    -fx-border-width: 4;
    -fx-border-radius: 10;
    -fx-pref-width: 165;
    -fx-pref-height: 165;
    -fx-cursor: hand;
}

.config_btn:hover {
    -fx-border-color: red;
}

/* GAME VIEW */

.game_btn {
    -fx-background-radius: 10;
    -fx-background-color: #17255A;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-background-insets: 1;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.game_btn:hover {
    -fx-text-fill: black;
    -fx-background-color: #5BC0EB;
    -fx-border-color: black;
}

/* VIEW */

.main_piece_snap {
    -fx-fill: #C3423F;
    -fx-stroke: #FD151B;
    -fx-stroke-width: 5;
    -fx-stroke-type: inside;
}

.piece_snap {
    -fx-fill: #FFDE68;
    -fx-stroke: #FFD67D;
    -fx-stroke-width: 5;
    -fx-stroke-type: inside;
}

/* LOAD GAME VIEW */

.scroll_pane {
    -fx-background-color: #E0FBFC;
}

.scroll_pane .viewport {
    -fx-background-color: #E0FBFC;
}

.card_panel {
    -fx-background-color: #E0FBFC;
}

.play_saved_game_btn {
    -fx-background-color: #E6FDFF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 16;
}


.play_saved_game_btn:hover {
    -fx-background-color: #BEFBFF;
    -fx-cursor: hand;
}